body{
	text-align: center;
	background-color: #88BAD2;
	h1{
		margin-top: 1.8rem;
	}
	form{
		margin-top: 2rem;
		margin-bottom: 1.6rem;
		input:first-child{
			width: 35%;
			border-radius: .3rem;
		}
		input:last-child{
			width: 17%;
		}
	}
}
.item{
	border: .1rem solid #696962;
	border-radius: .45rem;
	box-shadow: 0px -.1rem 0px #000, 0px .1rem 0px #000;
	margin: 1rem 8% 1rem 8%;
	padding: .5rem .7rem .5rem .7rem;
	text-align: left;
	.file-name{
		text-align: center;
		font-weight: bold;
		margin-bottom: .5rem;
	}
	.query {
		background-color: rgba(255, 255, 0, .73);
		border-radius: .22rem;
	}
}
